/* flex布局 */
.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexspaceAround {
  display: flex;
  justify-content: space-around;
}

.flexspaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexAstretch {
  display: flex;
  align-content: stretch;
}

.flexWcenter {
  display: flex;
  justify-content: center;
}

.flexHcenter {
  display: flex;
  align-items: center;
}

.flexALLcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction {
  display: flex;
  flex-direction: row-reverse
}

.flex-justify-content {
  display: flex;
  justify-content: flex-end
}

/* 文字右对齐 */
.flex-end {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

/*固定布局*/

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

/* 右浮动 */
.float-right {
  float: right;
}

/* 清除浮动 */
.clearfix:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}

.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
}

/*显示与隐藏*/

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

/*icon图标*/

.icon {
  width: 1.6em;
  height: 1.6em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.iconLG {
  width: 10em;
  height: 10em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/*padding10*/

.padding10 {
  padding: 10px;
}

.paddingTopBott10 {
  padding: 10px 0;
}

.paddingTopBottom10 {
  padding: 10px 0;
}


.padding30 {
  padding: 0 30px
}

.padding60 {
  padding: 0 60px
}

.margin10 {
  margin: 10px 0;
}

.marginTop10 {
  margin: 10px -15px;
}

.marginLR10 {
  margin: 0 10px ;
}

.marginL_12 {
  margin-left: -12px;
}

.margin20 {
  margin: 20px 0;
}

.marginBootom20 {
  margin-bottom: 20px
}

.margin30 {
  margin: 30px 0;
}

.marginR30 {
  margin-right: 30px;
}

.margin18 {
  margin: 0px 18px;
}

.margin_25 {
  margin: 0 -25px;
}

.margin_15 {
  margin: 0 -15px;
}

/*font-size*/

.fontSize20 {
  font-size: 20px;
}

/*color相关*/
.textSuccess {
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight: 700;
  font-style: normal;
  color: #008000;
}

.textErr {
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight: 700;
  font-style: normal;
  color: #FF0000;
}

.textP {
  color: rgb(153, 153, 153);
}

/*border相关*/
/* 1边框 */
.borderall {
  border: 1px solid rgb(121, 121, 121);
}

.borderTB {
  border: 1px solid rgb(121, 121, 121);
  /* border-style: solid none; */
}

/* 下边框没有 */
.borderBottomNone {
  border: 1px solid rgb(121, 121, 121);
  border-style: solid solid none;

}

.borderBottom {
  border-bottom: 1px solid rgb(121, 121, 121);
}

.borderTop {
  border-top: 1px solid rgb(121, 121, 121);
}

/*百分比布局相关*/
.percent80 {
  width: 80%;
}

.h50 {
  height: 50%;
}

.h20 {
  height: 20%;
}

.h80 {
  height: 80%;
}

.h100 {
  height: 100%;
}

/* 按钮 */
.button-width {
  width: 106px;
}