a:link {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  cursor: pointer
}

a:active {
  text-decoration: none;
  cursor: pointer
}

a:hover {
  text-decoration: none;
  cursor: pointer
}

.hcenter {
  display: table-cell;
  vertical-align: middle;
}

.text-right {
  text-align: right
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}


/* margin 与padding部分 */
.margin10 {
  margin: 10px 0;
}

.marginALL10 {
  margin: 10px;
}

.margin1rem {
  margin: .1rem
}

.marginTop1rem {
  margin-top: .1rem
}

.padding8 {
  padding: 0 8px;
}

.padding10 {
  padding: 0 10px;
}

.padding4 {
  padding: 0 4px;
}

.padding2rem {
  padding: 0 .2rem;
}

.paddingALL10 {
  padding: 10px;
}

.padding0 {
  padding: 0;
}

.icon14px {
  font-size: 14px
}

.border-radius {
  border-radius: 10px;
}

.border-all {
  border: 1px solid #cccccc;
}

.border-bottom-none {
  border: 1px solid #cccccc;
  border-bottom: 0;
}

.border-bottom {
  border-bottom: 1px solid #cccccc;
}

.border-top {
  border-top: 1px solid #cccccc;
}

.fr {
  float: right
}

.fl {
  float: left
}

.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


/* 背景色 */

.tableBGC {
  background-color: #e2e2e2;
}

nav>li {
  width: 19%;
  display: inline-block;
  text-align: center;
}


.actives {
  color: green !important;
}

/* 占比 */

.width50 {
  width: 50%
}

.width60 {
  width: 60% !important
}

.width80 {
  width: 80%
}

.width100 {
  width: 100%
}

.modal-footer-min {
  min-width: 5rem;
}

body {
  margin-bottom: 2rem
}


/* flex布局 */

.flexRow {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-content-center {
  display: flex;
  justify-content: center;
}

.flex-align-items-center {
  display: flex;
  align-items: center
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-ALL-center {
  display: flex;
  align-items: center;
  justify-content: center;

}




/* 公共font-size */
.font2 {
  font-size: .2rem
}

.font3 {
  font-size: .3rem
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



/* 头部 */

.headerDiv {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 2px .2rem;
}

.headerDiv img {
  max-height: 30px;
  margin-left: 5px;
}

/* 头部标题 */
.job-detail {
  padding-left: 12px;
}

/* 轮播图手机 */
#carousel img {
  height: 4rem !important;
}

/* 轮播图PC专门尺寸 */
@media screen and (min-width: 1030px) {

  /* 轮播图 */
  #carousel {
    height: 8rem !important;
  }

  #carousel img {
    height: 8rem !important;
  }
}

/* iPad和PC专门适配CSS */
@media screen and (min-width:700px) {
  .headerDiv {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px;
  }

  .font2 {
    font-size: 14px;
  }

  .remUL {
    padding: .1rem;
  }

  .remLi .remLi-img {
    max-width: 60px;
    max-height: 60px;
    padding: 0 5px 0 0;
  }

  .downLoadLi .downLoadLiimg {
    max-width: 60px;
    max-height: 60px;
    padding: 0 5px 0 0;
  }

  .angleImg>img {
    width: 20px !important;
  }

  /* 游戏详情头像 */
  .new-game-imgicon-gifts {
    max-width: 60px !important;
  }

  /* 今日推荐文字描述 */
  .des {
    margin-top: 4px !important;
  }

  /* 下载按钮 */
  .downLoadBtn>a {
    height: .5rem !important;
  }

  /* 下载modal footer宽度 */
  .modal-footer-min {
    min-width: 100%;
  }
}