/* 轮播图 */
.carousel-box {
  margin: 0 auto;
  text-align: center;
}


/* 推荐 */
.remUL {
  padding-right: .1rem;
}

.remLi {
  position: relative;
  width: 50%;
  padding-left: 4px;
  border: 1px solid #ccc;
  border-style: none solid solid none;
}

.freeImg {
  position: absolute;
  top: 0;
  right: 0;
}

.remLi-img {
  max-width: 1.4rem;
  max-height: 1.4rem;
  padding: .1rem;
}

.angleImg>img {
  width: .3rem;
}

/* 开服 */
.mainTable {
  margin-bottom: 52px;
  margin-top: 0;
}

.layui-tab-title-li {
  margin: 0 !important
}

.number-order {
  width: 24px;
  height: 46px;
  line-height: 46px;
  color: rgb(193, 193, 193);
  text-align: center;
  padding-right: 6px;
  font-size: 16px;
}


/* 新游  与 礼包列表部分css*/
.new-game-li {
  padding: 0 .3rem;
  margin-bottom: .1rem;
}

.newgame-box {
  width: 5rem;
  display: flex;
}

.new-game-flag {
  display: flex;
  align-items: center;
  margin-right: .2rem;
}

.new-game-imgicon {
  height: 60px;
  display: inline-block;
  margin: 2px 6px 0 0
}

.new-game-imgicon-gifts {
  max-width: 1.2rem;
  max-height: 1.2rem;
  padding-right: .1rem;
}

.newgame-button {
  width: 1.4rem;
}




/* 模态框 */
.modal-footer-fix {
  border-top: 1px solid #e5e5e5;
  padding-top: 0.1rem;
}

.downLoadLi {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 0.1rem;
}


.downLoadLiimg {
  max-width: 1.4rem;
  max-height: 1.4rem;
  padding: .1rem;
}

/* 两个按钮 */
.downLoadBtn>a {
  color: white;
  margin: 6px 0;
  border-radius: 4px;
  height: .5rem;
}

.android {
  background-color: #99d846;
}

.iOS {
  background-color: #64bcf5;
}

.textColors {
  border-left: 1px solid #ccc;
  width: 96%;
  font-size: .4rem;
  font-weight: 800;
}

/* 描述 */
.des {
  margin-top: .1rem
}





/* 礼包页面 */
.libao-ul {
  border: 1px solid #ccc;
  margin-top: .2rem;
}

.libao-ul>li {
  border-bottom: 1px solid #ccc;
  margin: .1rem 0;
}

.libao-ul>li:last-child {
  border-bottom: 0;
}

.angleBox>img {
  height: .4rem;
  display: inline-block;
}

.gifts-button {
  width: 2rem;
}

.gifts-modal-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 游戏页面 */
.gamesBox>li {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: .1rem 0;
  padding: 0 .1rem;
}


@media screen and (max-width:1024px) {
  .gamesBox>li img {
    max-height: 1.6rem;
    width: 100%;
  }
}

.js-game-ul>li {
  border-bottom: 1px solid #ccc;
  padding: .1rem 0;
}

.js-game-ul>li:last-child {
  border-bottom: 0
}

.js-game-ul>li:last-child {
  border: 0
}

.gameBig {
  width: 100%;
  border-top: 1px solid #ccc
}

.gameh4 {
  padding-left: .2rem;
}



/* 招聘css */


.job>li img {
  width: 100%;
  padding-top: .2rem;
}


.job-title {
  height: .8rem;
  line-height: .8rem;
  background-color: rgb(226, 226, 226);
  padding-left: .2rem;
  margin: 0;
}