/* 轮播图 */
.carousel-box {
  margin: 0 auto;
  text-align: center;
}


/* 推荐 */
.remLi {
  width: 50%;
  padding: 4px;
}

.remLi>img {
  max-width: 1.1rem;
  max-height: 1.1rem;
  padding: .1rem;
}

.angleImg>img {
  width: .3rem;
}

/* 开服 */
.mainTable {
  margin-bottom: 52px;
}

.layui-tab-title-li {
  margin: 0 !important
}


/* 新游  与 礼包列表部分css*/
.new-game-li {
  padding: 0 .3rem;
}

.newgame-box {
  width: 5rem;
  display: flex;
}

.new-game-flag {
  display: flex;
  align-items: center;
  margin-right: .2rem;
}

.new-game-flag>img {
  height: .5rem;
}


.new-game-imgicon {
  height: .8rem;
  display: inline-block;
  margin: .1rem;
}

.newgame-button {
  width: 1.4rem;
}


/* 模态框 */
.modal-footer-fix {
  border-top: 1px solid #e5e5e5;
  padding-top: 0.1rem;
}

.downLoadLi {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 0.1rem;
}

.textDes>div {
  margin-bottom: 0.1rem;
}

.downLoadLiimg {
  max-width: 1.4rem;
  max-height: 1.4rem;
  padding: .1rem;
}

/* 两个按钮 */
.downLoadBtn>a {
  color: white;
  margin: 6px 0;
  border-radius: 4px;
  height: .5rem;
}

.android {
  background-color: #99d846;
}

.iOS {
  background-color: #64bcf5;
}

.textColors {
  border-left: 1px solid #ccc;
  width: 96%;
  font-size: .3rem;
  font-weight: 800;
}

/* 描述 */
.des {
  margin-top: .1rem
}





/* 礼包页面 */
.libao-ul {
  border: 1px solid #ccc;
}

.libao-ul>li {
  border-bottom: 1px solid #ccc;
}

.libao-ul>li:last-child {
  border-bottom: 0;
}

/* 游戏页面 */
.gamesBox>li {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: .1rem 0;
}

.gamesBox>li img {
  max-width: 2rem;
  max-height: 2rem;
}

.js-game-ul>li {
  border: 1px solid #ccc
}

.js-game-ul>li:last-child {
  border: 0
}

.gameBig {
  padding: .2rem;
  border-top: 1px solid #ccc
}

.gameh4 {
  padding-left: .2rem;
}