/*nav部分*/

.footer-nav {
  border-top: 1px solid rgb(121, 121, 121);
  background-color: #fff;
}

.navli {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  border-right: 1px solid rgb(121, 121, 121);
}

.navli:last-child {
  border-right: 0;
}

.svgICON {
  margin-bottom: 4px;
}

.active {
  color: rgb(0, 85, 255);
}

/*header部分*/

.header {
  margin: 20px 0;
}

/*main部分*/

.main {
  padding: 0 10px;
  margin-bottom: 70px;
}

/*exchange部分*/

.exchangeForm {
  border: 1px solid rgb(121, 121, 121);
  margin: 20px 20px 40px;
}

.exchangeForm div {
  padding: 6px 14px;
}

.borderBottom {
  border-bottom: 1px solid rgb(121, 121, 121)
}

/*record部分*/
/* 日期段落P单独处理 */
.dateP {
  border-bottom: 1px solid rgb(121, 121, 121);
  margin: 20px 0 0 0;
}

/* 日期段落P样式 */
.pfontsize {
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #000000;
}

/* 去除每个里的上面边框 */
.recordLi {
  border: 1px solid rgb(121, 121, 121);
  border-top-style: none;
}


/*center部分*/

.light30 {
  height: 50px;
  line-height: 50px;
  padding: 0px 10px;
}

.jsPassword {
  width: 0;
  height: 0;
  border: 12px solid;
  border-color: transparent transparent transparent orange;
}