.mui-content{
	background: white;
}
.imgBox{
	display: flex;
	align-content: space-between;
	background: white;
	padding:.5rem .5rem 0 .5rem;
}
.imgBox img{
    width: 49%;
    height: 8rem;
    border-radius: 5px;
}
.imgBox img:first-child{
	margin-right: 2%;
}