.mui-slider-indicator .mui-indicator {
    display: inline-block;
    width: .9rem;
    height: .9rem;
    margin: 1px 4px;
    cursor: pointer;
    border-radius: 50%;
    background: #aaa;
    box-shadow: none;
}   
.mui-slider-indicator{
	text-align: right;
	padding-right: 1rem;
} 			
.mui-slider-indicator .mui-active.mui-indicator{
	background-color:#1296db;
}
