html,body{
    height: 100%;
    width: 100%;
}
.content{
   height: 100%;
}
.content>a{
    display: block;
    width: 100%;
    height: 100%;
    /* position: relative; */
}
img{
    display: block;
    width: 100%;
    height: 100%;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}
.left{
    float: left;
    width: 49%;
    height: 100%;
    /* background: url("../images/ad.png") no-repeat top center; */
}
.right{
    float: right;
    width: 49%;
    height: 100%;
}

