.mui-content {
    background: white;
}

.mui-content::-webkit-scrollbar {
    background-color: transparent;
    display: none;
    /*隐藏滚轮*/
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.box {
    margin: 2% 2% 0 2%;
}

.downLoad {
    padding: 0 10px;
}